.map-cont{
    position:absolute;
    top:10%;
    left:5%;
    height:800px;
    width: 90%;
    border-radius: 20px;
    border: solid #004006;
    border-width: 3px;
}

.parent_map_div{
    height: 965px;
    position: relative;
}

