@import 'fonts.css';

.navbar{
    display: flex;
    position:absolute;
    top:0;
    z-index:5;
    overflow:hidden;
    height: 11%;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
  }

.back_icon{
padding:18px 14px;
}


.logo_icon{
padding:22px 10px;
}

.nav_button{
text-align: center;
padding:22px 50px;
}

.search_bar{    
height:16px;
display: flex;
width: 510px;
padding: 16px;
margin-left:150px;
align-items: center;
gap: 10px; 
border-radius: 4px;
background: url("../../assets/Icon\ pack.svg") 97% 50% no-repeat;
background-color:white;
color: var(--Grey-input-text, #ABABAB);
/* Text */
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
border:0;
margin-right:auto;
}

.sign_in_but{
color: var(--VerdeScris, #004006);
text-align: center;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: bold;
line-height: normal;
background-color: #FFF;
border:#004006 solid;
border-radius: 4px;
border-width: 2px;
display: flex;
height: 56px;
padding: 0 30px;
margin-left: min(auto, 20px);
align-items: center;
justify-content: center;
}

.sign_up_but{
display: flex;
height: 56px;
padding: 0 30px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 4px;
background: var(--VerdeScris, #004006);
color: var(--White-background, #FFF);
text-align: center;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: bold;
line-height: normal;
margin-left:20px;
margin-right:50px;
}

.travelPage .logo_icon path{
  fill:white;
}

.travelPage .search_bar{
  display: none;
}